html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(https://plus.unsplash.com/premium_photo-1672153937750-9ea567e94026?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y29va2luZ3xlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
}

h1 {
    text-align: left;
    color: white;
    font-family: sans-serif;
    -webkit-text-stroke: 1px whitesmoke;
    text-decoration: underline;

}
h2, h3 {
    color: black;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
    font-size: 20px;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 60px;
    
}
.title {
    color: white;
    font-weight: bold;
    font-size: 40px;
    
}

div {
    display: flex;
    align-items: center;
}

span {
    padding: 10px;
}

a {
    font-size: 40px;
    text-align: center;
    color: white;
    vertical-align: middle;
}

a:visited {
    color: white;
}

a:hover {
    color: pink;
}

.parent {
    margin-left: 40%;
}

p {
    text-align: center;
    color: white;
    background-color: brown;
    padding: 10px;
    margin-left: 250px;
    display: inline-block;
    border-radius: 15px;
}

ul {
    text-align: center;
    color: white;
    background-color: brown;
    padding: 10px;
    padding-left: 20px;
    display: inline-block;
    border-radius: 15px 0 0 15px;
}

ol {
    text-align: center;
    color: white;
    background-color: brown;
    padding: 10px;
    padding-left: 20px;
    display: inline-block;
    border-radius: 0 15px 15px 0;
}